@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700');

* {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: rgb(90, 100, 100);
  line-height: 1;
}

h1 {
  font-weight: normal;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

p {
  line-height: 1.3;
}

.font-size-1 {
  font-size: 6rem;
}

.font-size-2 {
  font-size: 2.5rem;
}

.font-size-3 {
  font-size: 1.5rem;
}

.font-size-4 {
  font-size: 1rem;
}

.color-1 {
  color: rgb(204, 167, 0);
}

.color-2 {
  color: rgb(70, 80, 80);
}

.font-weight-1 {
  font-weight: 700;
}

.font-weight-2 {
  font-weight: 600;
}

.font-weight-3 {
  font-weight: 300;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.container--site {
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.container--medium {
  max-width: 400px;
}

.home-header {
  background: url('../img/bzzt-logo-wordmark.svg') no-repeat 50% 0;
  background-size: 150px;
  padding-top: 12rem;
  padding-bottom: 1.5rem;
}

.bzzt-form {
  text-align: center;
}

.promo-graphic {
  width: 90%;
  height: 90%;
  margin: 4rem auto 3rem;
}

input.email {
  border: 1px solid  rgb(110, 120, 120);
  border-radius: 4px;
  text-align: center;
  min-width: 300px;
  padding: 1rem;
}

.mce_inline_error {
  border-color: red !important;
}

button[type="submit"] {
  min-width: 300px;
  padding: 1rem 2rem;
  margin-top: 1rem;
  color: white;
  background-color: rgb(110, 120, 120);
  border: 1px solid  rgb(110, 120, 120);
  border-radius: 4px;
}

@media screen and (min-width: 500px) {

  button[type="submit"] {
    min-width: auto;
    margin-top: 0;
  }

  input + button {
    margin-left: 0.5rem;
  }

}

/* MailChimp */
.bzzt-form p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.bzzt-form {
  margin-bottom: 3rem;
}

div.mce_inline_error {
  color: red;
  padding: 1rem;
}

.response {
  padding: 1rem;
  line-height: 1.3;
}

.response > a {
  display: block;
}

#mce-success-response {
  color: green;
}

/* Tumblr */

/* hide injected iframe */
body > iframe:first-child, .tmblr-iframe {
  display: none !important;
}

.tumblr_posts {
}

.tumblr_posts li.tumblr_post {
  list-style-type: none;
  margin: 5rem 0px;
}

.tumblr_posts .tumblr_title {
  font-size: 1.75rem;
  font-weight: 300;
  margin: 1rem 10px;
}

.tumblr_posts p {
  margin: 0px 10px;
  padding: 0.5em;
}

.tumblr_posts .tumblr_body > * {
  margin: 1rem 0px;
}

.tumblr_posts .tumblr_body img {
  border-radius: 5px;
  margin: 0.5rem 0px;
  height: auto !important;
}

.tumblr_posts .tumblr_body iframe {
  max-width: 100%;
}

#more {
  font-size: 1.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1.5em;
  font-weight: bold;
}

#social-links {
  text-align: center;
  margin-top: 2em;
}

#social-links a {
  margin-left: 1em;
  margin-right: 1em;
}

#social-links img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
